.App {
    font-family: Cambria, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lang-change {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

label {
    font-size: 28px;
}

h1 {
    font-size: 54px;
}

button {
    background-color: coral;
    height: 50px;
    transition: 0.3s;
    border: none;
    font-family: Cambria, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    margin-top: 10px;
}

select {
    background-color: coral;
    font-family: Cambria, sans-serif;
    border: none;
    transition: 0.3s;
    font-size: 28px;
}

select:hover {
    background-color: bisque;
}

button:hover {
    background-color: bisque;
}